/* ================================================================================
VARS
================================================================================ */

$purple: #181d24;
$green: #1acd55;
// $green: #0BDA51;
$blue: #0074b4;
$light-grey: #e3e3e3;

$mirage: #161928;
$tangaroa: #0c1c36;
$malachite: #0BDA51;
$french: #0074b4;

$grey: #ccc;
$smoke: #eee;


$body-font: "gesta", Helvetica, Arial, sans-serif;
$heading-font: "gesta", Helvetica, Arial, sans-serif;
//$body-font: "alwyn-new-web";
//$heading-font: "alwyn-new-web";
// alwyn-new-web
// nudista-web
// fira-sans

$space: 10px;

$lap: 600px;
$desk: 1000px;
