/*!* Nott Tuesday by Joseph Russell and Chris Bailey at JH */
/* ================================================================================
VARS
================================================================================ */
/* ================================================================================
MIXINS
================================================================================ */
/* ========================================
RESET
======================================== */
* {
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: border-box; }

/* ========================================
ROOT
======================================== */
html {
  overflow-y: scroll;
  overflow-x: hidden;
  min-height: 100%;
  font: normal 100%/1.5 "gesta", Helvetica, Arial, sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

body {
  font-size: 100%;
  text-rendering: optimizeLegibility; }
  @media only screen and (min-width: 1000px) {
    body {
      padding: 20px; } }

a {
  color: #1acd55;
  font-weight: bold;
  text-decoration: none;
  transition: background 0.3s ease, color 0.3s ease; }
  a:hover, a:focus {
    text-decoration: underline; }

/* ========================================
BASE STYLES
======================================== */
.wrapper {
  /*overflow: hidden;*/
  width: 100%; }

.container {
  position: relative;
  margin: 0 auto;
  padding: 20px;
  max-width: 900px; }

h1, h2, h3,
p,
ul {
  margin-bottom: 12px; }

h1, h2, h3 {
  line-height: 1;
  font-family: "gesta", Helvetica, Arial, sans-serif; }

h1, .h1 {
  font-size: 36px; }

h2 {
  margin-bottom: 24px;
  padding-top: 12px;
  font-size: 24px; }

h3 {
  font-size: 20px; }

.lede {
  margin-bottom: 24px;
  font-size: 20px; }

p small {
  line-height: 10px !important; }

.button {
  display: inline-block;
  padding: 12px 24px;
  background: #1acd55;
  color: white;
  font-weight: bold;
  font-size: 18px;
  text-decoration: none;
  text-align: center;
  letter-spacing: 0.05em;
  border-radius: 3px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  transition: background-color .3s ease; }
  .button:hover, .button:focus {
    background: #17b64c;
    text-decoration: none; }

img {
  display: block;
  max-width: 100%; }

.cf:before, .cf:after {
  content: " ";
  display: table; }
.cf:after {
  clear: both; }
.cf {
  *zoom: 1; }

hr {
  border-bottom: 1px solid #eee;
  margin-bottom: 24px; }
  hr.bold {
    border-color: #ccc; }

/**
 * Horizontal using inline-block
 */
.nav--inline > li {
  display: inline-block; }

.nav--inline > li > a {
  display: inline-block; }

/* ========================================
HEADER
======================================== */
.site-header {
  background: #040405;
  color: white;
  text-align: center; }
  .site-header .logo {
    display: block;
    margin: 0 auto 24px;
    width: 150px; }
  .site-header h1 {
    font-size: 24px; }
  @media only screen and (min-width: 600px) {
    .site-header {
      padding-bottom: 72px; }
      .site-header h1 {
        font-size: 32px; }
      .site-header p {
        font-size: 22px; } }
  @media only screen and (min-width: 1000px) {
    .site-header .logo {
      margin: 24px auto 48px; }
    .site-header h1 {
      font-size: 44px;
      font-weight: normal; } }

.header__bg {
  background: url("../img/header-bg.png") right center no-repeat;
  background-size: cover; }

.home-header {
  padding-bottom: 12px; }
  @media only screen and (min-width: 600px) {
    .home-header {
      padding-bottom: 72px; } }

/* ========================================
MAIN
======================================== */
/* ========================================
EVENT DETAILS
======================================== */
.event {
  margin-bottom: 24px;
  background: white;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.25), 0 1px 10px rgba(0, 0, 0, 0.1); }
  .event:before, .event:after {
    content: " ";
    display: table; }
  .event:after {
    clear: both; }
  .event {
    *zoom: 1; }
  @media only screen and (min-width: 600px) {
    .event {
      margin: -96px 0 24px; } }

.summary {
  position: relative;
  padding: 24px;
  background: #181d24;
  color: white;
  text-align: center; }
  .summary .title {
    margin-bottom: 0;
    padding-top: 0;
    color: #1acd55;
    font-size: 20px;
    line-height: 1.5; }
  .summary .details {
    margin-bottom: 0;
    list-style: none;
    font-size: 20px; }
    .summary .details a {
      color: white;
      font-weight: normal; }
    .summary .details li {
      display: inline-block;
      margin: 0 6px; }
  .summary .rsvp {
    margin: 24px 0 0; }
  @media only screen and (min-width: 600px) {
    .summary {
      text-align: left; }
      .summary .details li {
        margin: 0 6px 0 0; }
      .summary .rsvp {
        position: absolute;
        right: 24px;
        top: 24px;
        margin-top: 0; } }

.speaker {
  padding: 24px; }
  .speaker:before, .speaker:after {
    content: " ";
    display: table; }
  .speaker:after {
    clear: both; }
  .speaker {
    *zoom: 1; }
  .speaker .photo {
    float: right;
    margin: 0 0 12px 12px;
    width: 30%;
    max-width: 200px; }
  .speaker .topic strong {
    display: block;
    margin-bottom: 6px;
    font-size: 30px; }
  .speaker .bio > :last-child {
    margin-bottom: 0; }
  @media only screen and (min-width: 600px) {
    .speaker .photo {
      margin: 0 0 24px 24px; }
    .speaker .topic {
      overflow: hidden; }
    .speaker .bio {
      overflow: hidden; } }

/* ========================================
INFO
======================================== */
.info ul {
  margin-left: 24px; }

/* ========================================
SPONSORS, CATEGORIES
======================================== */
.categories,
.sponsors {
  margin-bottom: 24px;
  padding-top: 24px; }

.category-list,
.sponsor-list {
  margin-bottom: 0;
  list-style: none; }
  .category-list:before, .category-list:after,
  .sponsor-list:before,
  .sponsor-list:after {
    content: " ";
    display: table; }
  .category-list:after,
  .sponsor-list:after {
    clear: both; }
  .category-list,
  .sponsor-list {
    *zoom: 1; }

.category,
.sponsor {
  margin-bottom: 24px; }
  .category:before, .category:after,
  .sponsor:before,
  .sponsor:after {
    content: " ";
    display: table; }
  .category:after,
  .sponsor:after {
    clear: both; }
  .category,
  .sponsor {
    *zoom: 1; }
  .category h2,
  .sponsor h2 {
    text-align: left; }
    @media only screen and (min-width: 600px) {
      .category h2,
      .sponsor h2 {
        text-align: right;
        margin-top: 32px; } }

.category__logo,
.sponsor__logo {
  float: right;
  margin: 0 0 12px 24px;
  border: 1px solid #eee;
  padding: 24px;
  width: 40%;
  max-width: 200px; }

@media only screen and (min-width: 600px) {
  .category__logo,
  .sponsor__logo {
    float: left;
    width: 40%;
    margin: 0 24px 0 0; } }
@media only screen and (min-width: 1000px) {
  .categories:before, .categories:after,
  .sponsors:before,
  .sponsors:after {
    content: " ";
    display: table; }
  .categories:after,
  .sponsors:after {
    clear: both; }
  .categories,
  .sponsors {
    *zoom: 1; }
  .categories header,
  .sponsors header {
    float: left;
    width: 38.8%; }

  .category-list,
  .sponsor-list {
    float: left;
    width: 59.2%;
    margin-left: 2%; }

  .category,
  .sponsor {
    float: none;
    width: 100%;
    padding: 0; }
    .category:before, .category:after,
    .sponsor:before,
    .sponsor:after {
      content: " ";
      display: table; }
    .category:after,
    .sponsor:after {
      clear: both; }
    .category,
    .sponsor {
      *zoom: 1; }

  .category__logo,
  .sponsor__logo {
    width: 30.66667%; } }
/* ========================================
Past events
======================================== */
.past-event {
  width: 100%;
  display: inline-block;
  border-bottom: 1px solid #e3e3e3;
  padding-bottom: 6px;
  margin-bottom: 6px; }

.past-event:last-child {
  border: none;
  padding-bottom: 0;
  margin-bottom: 0; }

.past-event .speaker-photo {
  display: none; }

@media only screen and (min-width: 600px) {
  .past-event .speaker-photo {
    display: block;
    width: 14%;
    float: left;
    padding-top: 6px;
    margin-bottom: 14px; } }
.past-event .speaker-info {
  width: 100%; }

@media only screen and (min-width: 600px) {
  .past-event .speaker-info {
    width: 82%;
    float: right;
    text-align: left; } }
.past-event .date {
  padding-top: 1.5px;
  font-size: 14px; }

/* ========================================
Archive
======================================== */
.archive-wrapper {
  background-color: #f9f9fa;
  padding: 12px;
  font-size: 18px;
  width: 100%; }

.archive-wrapper a {
  color: #cacaca; }

.archive-wrapper ul {
  margin: 0;
  text-align: center; }

.archive-wrapper li {
  color: #cacaca;
  padding: 0 3px; }

/* ========================================
FOOTER
======================================== */
.site-footer {
  background: #181d24; }
  .site-footer h2 {
    color: white; }
  .site-footer p {
    color: #e3e3e3; }
  .site-footer a {
    color: white; }

.about {
  margin-bottom: 24px; }

.contact {
  margin-bottom: 24px; }

.legal {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  padding-top: 24px;
  color: rgba(255, 255, 255, 0.5); }

@media only screen and (min-width: 1000px) {
  .about {
    float: left;
    width: 48%; }

  .contact {
    float: right;
    width: 48%; }

  .legal {
    clear: both; } }
/* ================================================================================
AWARDS
================================================================================ */
.page--awards .site-header {
  padding-bottom: 0; }

/* ========================================
SPONSORS
======================================== */
.finalists {
  margin-bottom: 24px;
  padding-top: 24px; }
  .finalists h2 small {
    display: block;
    margin-bottom: 12px;
    font-weight: normal;
    font-size: 18px; }

.finalist-list {
  margin-bottom: 0;
  list-style: none; }
  .finalist-list:before, .finalist-list:after {
    content: " ";
    display: table; }
  .finalist-list:after {
    clear: both; }
  .finalist-list {
    *zoom: 1; }

.finalist {
  margin-bottom: 24px; }
  .finalist:before, .finalist:after {
    content: " ";
    display: table; }
  .finalist:after {
    clear: both; }
  .finalist {
    *zoom: 1; }
  .finalist h2 {
    text-align: left; }
    @media only screen and (min-width: 600px) {
      .finalist h2 {
        text-align: right;
        margin-top: 32px; } }

.finalist__logo {
  float: right;
  margin: 0 0 12px 24px;
  border: 1px solid #eee;
  padding: 24px;
  width: 40%;
  max-width: 200px;
  background: #fff; }

.finalist--winner {
  padding: 24px;
  border: 2px solid #1acd55;
  background: #f5f5f5; }
  .finalist--winner .label {
    display: block;
    margin: -26px -26px 24px;
    padding: 12px 24px;
    background: #1acd55;
    color: #fff;
    text-transform: uppercase; }
  .finalist--winner .finalist__logo {
    display: block;
    float: none;
    margin: 0 auto 24px;
    width: 100%;
    max-width: none; }

@media only screen and (min-width: 600px) {
  .finalist__logo {
    float: left;
    width: 40%;
    margin: 0 24px 0 0; }

  .finalist--winner .finalist__logo {
    float: left;
    width: 40%;
    margin: 0 24px 0 0;
    max-width: 200px; } }
@media only screen and (min-width: 1000px) {
  .finalists:before, .finalists:after {
    content: " ";
    display: table; }
  .finalists:after {
    clear: both; }
  .finalists {
    *zoom: 1; }
  .finalists header {
    float: left;
    width: 38.8%; }

  .finalist-list {
    float: left;
    width: 59.2%;
    margin-left: 2%; }

  .finalist {
    float: none;
    width: 100%; }
    .finalist:before, .finalist:after {
      content: " ";
      display: table; }
    .finalist:after {
      clear: both; }
    .finalist {
      *zoom: 1; }

  .finalist__logo {
    width: 30.66667%; }

  .finalist--winner .finalist__logo {
    float: none;
    width: 100%;
    margin: 0 0 24px;
    max-width: none; } }
.judges {
  margin-bottom: 24px;
  padding-top: 24px; }

.judge-list {
  margin-bottom: 0;
  list-style: none; }
  .judge-list:before, .judge-list:after {
    content: " ";
    display: table; }
  .judge-list:after {
    clear: both; }
  .judge-list {
    *zoom: 1; }

.judge {
  margin-bottom: 24px; }
  .judge:before, .judge:after {
    content: " ";
    display: table; }
  .judge:after {
    clear: both; }
  .judge {
    *zoom: 1; }

.judge__photo {
  float: left;
  border: 1px solid #eee;
  width: 20%;
  max-width: 60px;
  margin-right: 12px;
  border-radius: 125px; }

.judge__name {
  font-size: 18px; }

.judge__role {
  display: block;
  font-size: 12px; }

@media only screen and (min-width: 600px) {
  .judge {
    float: left;
    margin-left: 2%;
    width: 48%; }
    .judge:nth-child(odd) {
      clear: left;
      margin-left: 0; } }
@media only screen and (min-width: 1000px) {
  .judge-list {
    margin-left: 0; }

  .judge {
    width: 18.4%;
    margin-left: 2%; }
    .judge:nth-child(odd) {
      clear: none;
      margin-left: 2%; }
    .judge:first-child {
      margin-left: 0; }

  .judge__photo {
    float: none;
    width: 100%;
    max-width: none;
    margin-bottom: 12px; } }
.background__green {
  background-color: #1acd55;
  color: #fff;
  text-align: center;
  font-weight: bold; }

.background__dark {
  background: #181d24;
  color: #fff; }
  .background__dark ul {
    color: #fff; }

.background__light {
  background-color: #f9f9fa; }

.note {
  color: #1acd55;
  line-height: 1; }

.format ul li {
  margin-left: 34px; }
@media only screen and (min-width: 600px) {
  .format {
    float: left;
    width: 48%; } }

.pitch ul li {
  margin-left: 34px; }
@media only screen and (min-width: 600px) {
  .pitch {
    float: right;
    width: 48%; } }

.call-for-sponsors {
  text-align: center;
  margin-bottom: 20px;
  font-size: 20px; }

.trophy {
  height: 20px;
  width: 20px;
  display: inline-block;
  margin-bottom: -5px;
  margin-right: 5px; }

.signup__form .form__email {
  display: inline-block;
  padding: 12px 24px;
  color: #999999;
  font-size: 18px;
  letter-spacing: 0.05em;
  border-radius: 3px;
  transition: background-color .3s ease; }

.form__submit {
  background: #17b64c;
  cursor: pointer; }
  .form__submit:hover, .form__submit:focus {
    background: #14a042; }

#mc_embed_signup {
  background: #1acd55 !important;
  clear: left; }

#mc_embed_signup form {
  display: block;
  position: relative;
  text-align: center !important;
  padding: 10px 0 10px 3%; }

#mc_embed_signup .mc-field-group input {
  display: block;
  width: 80% !important;
  padding: 8px 0;
  text-indent: 2%;
  margin: 0 auto; }

#mc_embed_signup div.mce_inline_error {
  width: 80% !important;
  margin: 0 auto !important; }

#mc_embed_signup .mc-field-group input {
  display: inline-block;
  padding: 12px 24px;
  color: #999999;
  font-size: 18px;
  letter-spacing: 0.05em;
  border-radius: 3px;
  transition: background-color .3s ease;
  border: 0; }

#mc_embed_signup .button {
  background: #17b64c !important;
  text-align: center; }
  #mc_embed_signup .button:hover, #mc_embed_signup .button:focus {
    background: #14a042 !important; }

.entry-form p {
  font-size: 20px;
  font-weight: normal;
  margin-bottom: 12px; }

#mc_embed_signup #mce-success-response {
  color: #1acd55;
  display: none;
  background: #fff;
  text-align: center;
  padding: 12px 24px;
  margin: 0 auto;
  margin-bottom: 12px; }

#mc_embed_signup div#mce-responses {
  float: inherit !important;
  width: 90%;
  margin: 0 auto !important;
  clear: both; }

#mc_embed_signup div.response {
  margin: 1em 0;
  padding: 1em .5em .5em 0;
  font-weight: bold;
  float: left;
  top: -1.5em;
  width: 100% !important;
  margin-bottom: 12px; }

#mc_embed_signup div.mce_inline_error {
  background-color: #FF4956 !important; }

.text--center {
  text-align: center; }

.award {
  padding-top: 36px;
  padding-bottom: 36px; }

.award-title {
  font-size: 24px;
  text-align: center; }
  @media only screen and (min-width: 600px) {
    .award-title {
      font-size: 32px; } }

.award-desc {
  text-align: center;
  font-size: 16px;
  margin-bottom: 0; }
  @media only screen and (min-width: 600px) {
    .award-desc {
      font-size: 22px; } }

.award-cash {
  color: #1acd55;
  font-weight: 700; }

.prizes {
  padding-top: 48px; }
  @media only screen and (min-width: 600px) {
    .prizes {
      margin-left: -24px;
      overflow: hidden; } }

.award-prize {
  text-align: center;
  margin-bottom: 24px; }
  .award-prize img {
    width: 50%;
    margin: 0 auto 12px; }
  @media only screen and (min-width: 600px) {
    .award-prize {
      width: 33.33%;
      float: left;
      padding-left: 24px;
      margin-bottom: 0; } }
  .award-prize p {
    margin: 0; }

.award-sponsor {
  overflow: hidden;
  padding-top: 48px;
  text-align: center; }
  @media only screen and (min-width: 600px) {
    .award-sponsor {
      text-align: left; } }
  .award-sponsor p {
    overflow: hidden; }
  .award-sponsor img {
    width: 50%;
    border: 1px solid #eee;
    padding: 24px;
    margin: 0 auto 12px; }
    @media only screen and (min-width: 600px) {
      .award-sponsor img {
        width: 25%;
        float: left;
        margin: 0 24px 0 0; } }

.refreshments {
  padding-top: 36px;
  padding-bottom: 36px; }
  @media only screen and (min-width: 600px) {
    .refreshments {
      margin-left: -24px;
      overflow: hidden; } }

.refreshments__item {
  margin-bottom: 48px; }
  .refreshments__item:last-child {
    margin-bottom: 0; }
  @media only screen and (min-width: 600px) {
    .refreshments__item {
      padding-left: 24px;
      width: 50%;
      float: left;
      margin-bottom: 0; } }
  .refreshments__item p {
    margin-bottom: 0; }
  .refreshments__item img {
    width: 30%;
    display: block;
    margin: 0 auto 12px; }

.award-entry__desc {
  font-size: 16px;
  font-weight: 100; }
  @media only screen and (min-width: 600px) {
    .award-entry__desc {
      font-size: 20px; } }

.award-entry__email {
  font-size: 20px; }

@media only screen and (min-width: 1000px) {
  .award-details {
    margin-bottom: 24px;
    margin-left: -24px; } }
.award-details ul {
  margin-left: 20px; }

@media only screen and (min-width: 1000px) {
  .award-details__info {
    width: 50%;
    float: left;
    padding-left: 24px; } }

.judge-title {
  font-size: 24px;
  text-align: center;
  padding-top: 24px; }
  @media only screen and (min-width: 600px) {
    .judge-title {
      font-size: 32px; } }

.judge-desc {
  text-align: center;
  font-size: 16px;
  margin-bottom: 12px; }
  @media only screen and (min-width: 600px) {
    .judge-desc {
      font-size: 22px; } }

/*# sourceMappingURL=nt.css.map */
