/*!* Nott Tuesday by Joseph Russell and Chris Bailey at JH */

@import 'vars';
@import 'mixins';


/* ========================================
RESET
======================================== */

* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
}


/* ========================================
ROOT
======================================== */

html {
    overflow-y: scroll;
    overflow-x: hidden;
    min-height: 100%;
    font: normal 100%/1.5 $body-font;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    font-size: 100%;
    text-rendering: optimizeLegibility;

//    @media only screen and (min-width: $lap) {
//         font-size: 112.5%;
//    }

    @media only screen and (min-width: $desk) {
        padding: 20px;
    }

}

a {
    color: $green;
    font-weight: bold;
    text-decoration: none;
    transition: background 0.3s ease, color 0.3s ease;

    &:hover,
    &:focus {
        text-decoration: underline;
    }
}


/* ========================================
BASE STYLES
======================================== */

.wrapper {
    /*overflow: hidden;*/
    width: 100%;
}

.container {
    position: relative;
    margin: 0 auto;
    padding: 20px;
    // max-width: $desk;
    max-width: 900px;

    @media only screen and (min-width: $lap) {
        // padding: 40px;
    }
}

h1, h2, h3,
p,
ul {
    margin-bottom: $space;
}

h1, h2, h3 {
    // padding-top: 10px;
    line-height: 1;
    font-family: $heading-font;
}
h1 {
    // font-size: 38px;
    font-size: 36px;
}
h2 {
    margin-bottom: 2*$space;
    padding-top: $space;
    // font-weight: normal;
    // font-size: 26px;
    font-size: 24px;

    @media only screen and (min-width: $lap) {
        // font-size: 36px;
    }
}
h3 {
    // font-size: 22px;
    font-size: 20px;

    @media only screen and (min-width: $lap) {
        // font-size: 24px;
    }
}

.lede {
    margin-bottom: 2*$space;
    font-size: 20px;
}


.button {
    display: inline-block;
    padding: $space 2*$space;
    background: $green;
    color: white;
    font-weight: bold;
    font-size: 18px;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    border-radius: 3px;
    //box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
    transition: background-color .3s ease;

    &:hover, &:focus {
        background: darken($green, 5%);
        text-decoration: none;
    }
}

img {
    display: block;
    max-width: 100%;
}

.cf {
    @include cf;
}

hr {
    border-bottom: 1px solid $smoke;
    // padding-top: 2*$space;
    margin-bottom: 2*$space;

    &.bold {
        border-color: $grey;
    }
}


/* ========================================
HEADER
======================================== */

.site-header {
    background: darken($purple, 10%);
    color: white;
    text-align: center;

    .logo {
        display: block;
        margin: 0 auto 2*$space;
        width: 150px;
    }

    h1 {
        // font-weight: normal;
        font-size: 24px;
    }

    @media only screen and (min-width: $lap) {
        padding-bottom: 6*$space;

        h1 {
            font-size: 32px;
        }

        p {
            font-size: 22px;
        }
    }

    @media only screen and (min-width: $desk) {
        .logo {
            margin: 2*$space auto 4*$space;
        }

        h1 {
            font-size: 44px;
            font-weight: normal;
        }
    }
}


.header__bg {
    background: url('../img/header-bg.png') right center no-repeat;
    background-size: cover;
}


/* ========================================
MAIN
======================================== */

.site-main {}




/* ========================================
EVENT DETAILS
======================================== */

.event {
    @include cf;
    margin-bottom: 2*$space;
    background: white;
    box-shadow: 0 0 1px rgba(0,0,0,0.25), 0 1px 10px rgba(0,0,0,0.1);

    @media only screen and (min-width: $lap) {
        margin: -8*$space 0 2*$space;
    }

    @media only screen and (min-width: $desk) {
        margin: -8*$space -2*$space 2*$space;
    }
}

.summary {
    position: relative;
    padding: 2*$space;
    background: $purple;
    color: white;
    text-align: center;

    .title {
        margin-bottom: 0;
        padding-top: 0;
        color: $green;
        font-size: 20px;
        line-height: 1.5;
    }
    .details {
        margin-bottom: 0;
        list-style: none;
        font-size: 20px;

        a {
            color: white;
            font-weight: normal;
        }

        li {
            display: inline-block;
            margin: 0 $space/2;
        }
    }
    .rsvp {
        margin: 2*$space 0 0;
    }

    @media only screen and (min-width: $lap) {
        text-align: left;

        .details {
            li {
                margin: 0 $space/2 0 0;
            }
        }
        .rsvp {
            position: absolute;
            right: 2*$space;
            // top: 50%;
            top: 2*$space;
            margin-top: 0;
            // @include prefix(transform, translateY(-50%));
        }
    }

    @media only screen and (min-width: $desk) {
        @include cf;

        float: left;
        width: 30%;

        .title,
        .details {
            // float: left;
            // padding: $space 0;

            // display: inline-block;
            // margin: 0 $space;
        }
        .title {
            margin-bottom: $space;
            font-size: 22px;
        }
        .details {
            font-size: 20px;

            li {
                display: block;
                // margin: 0 0 0 $space;
                margin: 0 0 $space;
            }
        }
        .rsvp {
            position: static;
            margin-top: 2*$space;
            // float: right;
            // @include prefix(transform, none);
        }
    }

}

.speaker {
    @include cf;
    padding: 2*$space;

    .photo {
        float: left;
        margin: 0 $space $space 0;
        width: 30%;
    }
    .topic {
        font-weight: normal;

        strong {
            display: block;
            margin-bottom: $space/2;
            font-size: 30px;
        }
    }
    .bio {
        > :last-child {
            margin-bottom: 0;
        }
    }

    @media only screen and (min-width: $lap) {
        .photo {
            margin: 0 2*$space 2*$space 0;
        }
        .topic {
            overflow: hidden;
        }
        .bio {
            overflow: hidden;
        }
    }

    @media only screen and (min-width: $desk) {
        float: right;
        width: 70%;
        padding-left: 4*$space;

        .photo {
            margin: -2*$space 2*$space -2*$space -2*$space;
        }
        .topic {
            line-height: 1.5;
        }
    }
}




/* ========================================
INFO
======================================== */

.info{
        ul{
            margin-left: 2*$space;
        }
    }


/* ========================================
SPONSORS
======================================== */

.sponsors {
    margin-bottom: 2*$space;
    // + .sponsors {
    // border-top: 1px solid #eee;
    padding-top: 2*$space;
    // }
}

.sponsor-list {
    @include cf;
    margin-bottom: 0;
    list-style: none;
}
.sponsor {
    @include cf;
    margin-bottom: 2*$space;

    h2 {
        text-align: left;

        @media only screen and (min-width: $lap) {
            text-align: right;
            margin-top: 32px;

        }

    }

}
.sponsor__logo {
    float: right;
    margin: 0 0 $space 2*$space;
    border: 1px solid #eee;
    padding: 2*$space;
    width: 40%;
    max-width: 200px;
}

@media only screen and (min-width: $lap) {
    .sponsor__logo {
        float: left;
        width: 40%;
        margin: 0 2*$space 0 0;
    }
}

@media only screen and (min-width: $desk) {
    .sponsors {
        @include cf;

        header {
            float: left;
            width: 38.8%;
        }
    }

    .sponsor-list {
        float: left;
        width: 59.2%;
        margin-left: 2%;
    }

    .sponsor {
        @include cf;
        float: none;
        width: 100%;
        padding: 0;
    }

    .sponsor__logo {
        width: (100/60)*18.4%;
    }
}



/* ========================================
FOOTER
======================================== */

.site-footer {
    background: $purple;
    color: white;

    a {
        color: white;
    }
}

.about {
    margin-bottom: 2*$space;
}

.contact {
    margin-bottom: 2*$space;
}

.legal {
    // margin-bottom: 0;
    border-top: 1px solid rgba(white, 0.1);
    padding-top: 2*$space;
    color: rgba(white, 0.5);
}

@media only screen and (min-width: $desk) {
    .about {
        float: left;
        width: 48%;
    }

    .contact {
        float: right;
        width: 48%;
    }

    .legal {
        clear: both;
    }
}

@import 'awards';
