/*!* Nott Tuesday by Joseph Russell and Chris Bailey at JH */
/* ========================================
MIXINS
======================================== */
/* ========================================
RESET
======================================== */
* {
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: border-box; }

/* ========================================
ROOT
======================================== */
html {
  overflow-y: scroll;
  overflow-x: hidden;
  min-height: 100%;
  font: normal 100%/1.5 "alwyn-new-web";
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

body {
  font-size: 100%;
  text-rendering: optimizeLegibility; }

a {
  color: #1acd55;
  font-weight: bold;
  text-decoration: none;
  transition: all 0.3s ease; }
  a:hover, a:focus {
    text-decoration: underline; }

/* ========================================
BASE STYLES
======================================== */
.wrapper {
  /*overflow: hidden;*/
  width: 100%; }

.container {
  position: relative;
  margin: 0 auto;
  padding: 20px;
  max-width: 800px; }

h1, h2, h3,
p,
ul {
  margin-bottom: 10px; }

h1, h2, h3 {
  line-height: 1;
  font-family: "alwyn-new-web"; }

h1 {
  font-size: 36px; }

h2 {
  padding-top: 10px;
  font-weight: normal;
  font-size: 24px; }

h3 {
  font-size: 18px; }

.button {
  display: inline-block;
  padding: 10px 20px;
  background: #1acd55;
  color: white;
  font-weight: bold;
  font-size: 18px;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  border-radius: 3px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1); }
  .button:hover, .button:focus {
    background: #17b64c;
    text-decoration: none; }

img {
  display: block;
  max-width: 100%; }

.cf:before, .cf:after {
  content: " ";
  display: table; }
.cf:after {
  clear: both; }
.cf {
  *zoom: 1; }

/* ========================================
HEADER
======================================== */
.site-header {
  background: #040405;
  color: white;
  text-align: center; }
  .site-header .logo {
    display: block;
    margin: 0 auto 20px;
    width: 150px; }
  .site-header h1 {
    font-size: 30px; }
  @media only screen and (min-width: 1000px) {
    .site-header h1 {
      font-size: 48px; }
    .site-header p {
      font-size: 24px; } }

/* ========================================
MAIN
======================================== */
/* ========================================
EVENT DETAILS
======================================== */
.event {
  margin-bottom: 20px;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1); }

.summary {
  padding: 20px;
  background: #181d24;
  color: white;
  text-align: center; }
  .summary h2 {
    padding-top: 0;
    color: #1acd55; }
  .summary ul {
    list-style: none; }
    .summary ul a {
      color: white;
      font-weight: normal; }
  .summary li {
    display: inline-block;
    margin: 0 5px; }

.speaker {
  padding: 20px; }
  .speaker:before, .speaker:after {
    content: " ";
    display: table; }
  .speaker:after {
    clear: both; }
  .speaker {
    *zoom: 1; }

.speaker__photo {
  float: left;
  margin: 0 10px 10px 0;
  width: 25%; }

.speaker__topic {
  font-weight: normal; }
  .speaker__topic strong {
    display: block;
    margin-bottom: 5px;
    font-size: 24px; }

/* ========================================
SPONSORS
======================================== */
.sponsor-list {
  margin-bottom: 0;
  list-style: none; }
  .sponsor-list:before, .sponsor-list:after {
    content: " ";
    display: table; }
  .sponsor-list:after {
    clear: both; }
  .sponsor-list {
    *zoom: 1; }

.sponsor {
  margin-bottom: 10px; }

.sponsor__logo {
  width: 50%;
  max-width: 200px; }

@media only screen and (min-width: 600px) {
  .sponsor-list {
    margin-left: -4%; }

  .sponsor {
    float: left;
    padding-left: 4%;
    width: 50%; }
    .sponsor:nth-child(odd) {
      clear: left; } }
/* ========================================
FOOTER
======================================== */
.site-footer {
  background: #181d24;
  color: white; }

.about {
  margin-bottom: 20px; }

.contact {
  margin-bottom: 20px; }

.legal {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  padding-top: 20px;
  color: rgba(255, 255, 255, 0.5); }

@media only screen and (min-width: 1000px) {
  .about {
    float: left;
    width: 48%; }

  .contact {
    float: right;
    width: 48%; }

  .legal {
    clear: both; } }
